.x-icon-user {
    width: 80px;
    height: 80px;
    background-size:80px 80px;
    background-repeat:no-repeat;
    background-image: url(../../resources/img/user.png);
}
.x-icon-exit {
    width: 80px;
    height: 80px;
    background-size:80px 80px;
    background-repeat:no-repeat;
    background-image: url(../../resources/img/exit.png);
}
